<!doctype html>
<html lang="en" ng-app="clientApp">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/clientApp.js"></script>
    <title>ClientApp</title>
</head>
<body ng-controller="onionClientAppController">
<div class="container-fluid">
<h1>Client Status</h1>
<br>
<!--
<pre>
{{response}}
</pre>
-->
<br>
<textarea id="textview" rows="25" cols="100">
{{response}}
</textarea>
<br>
<br>
Target URL:  <input type="text" ng-model="inputUri" size="58">
<br>
<br>
<button ng-click="sendRequest()" ng-disabled="isRequesting">
    Send Request
</button>
<button ng-click="sendBomb()" ng-disabled="isRequesting">
    Send N Concurrent Requests
</button>
  N =
<select ng-options="opt as opt.name for opt in options" ng-model="optionList" ng-init="optionList = options[0]">
</select>
<button ng-click="sendHelp()" ng-disabled="isRequesting">
    Help
</button>
<button ng-click="sendExit()" ng-disabled="isRequesting">
    Exit
</button>
</div>
</body>
</html>