<!doctype html>
<html lang="en" ng-app="chainNodeApp">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/chainNodeApp.js"></script>
    <title>Chainnode</title>
</head>
<body ng-controller="routingInfoController">
<div class="container-fluid">
<h1>Chainnode status page</h1>
This table shows the most recent routing information.
<div class="row">
<div class="
col-md-4">
    <h2>Error Simulation</h2>
    Select error simulation mode of this chainnode:<br>
    <label><input type="radio" ng-model="errorSimulationMode" value="NO_ERROR" ng-change="setErrSim()" ng-disabled="isRequesting">No error</label><br>
    <label><input type="radio" ng-model="errorSimulationMode" value="RETURN_404" ng-change="setErrSim()" ng-disabled="isRequesting">Always return a 404 error</label><br>
    <label><input type="radio" ng-model="errorSimulationMode" value="SLOW_ACCEPT" ng-change="setErrSim()" ng-disabled="isRequesting">Wait 5 seconds before forwarding the request</label><br>
    <label><input type="radio" ng-model="errorSimulationMode" value="SLOW_RESPONSE" ng-change="setErrSim()" ng-disabled="isRequesting">Wait 5 seconds before returning the response</label><br>
</div>
<div ng-model="stats" class="col-md-4">
    <h2>Current Stats</h2>
    <table class="table table-striped">
        <tr><td>Time Window (ms)</td> <td>{{stats.timeWindowSize }}</td></tr>
        <tr><td>Pending msgs</td> <td>{{stats.messagesPending}}</td></tr>
        <tr><td>Successful msgs</td> <td>{{stats.messagesProcessed}}</td></tr>
        <tr><td>Failed msgs</td> <td>{{stats.errors}}</td></tr>
        <tr><td>Time processing msgs:</td> <td>{{stats.timeSpentInSuccessfulRequests}}</td></tr>
    </table>
</div>
</div>
<h2> Overview of the latest 20 messages: </h2>
<table class="table table-striped">
    <thead>
        <td>Latest Update</td>
        <td>ChainId</td>
        <td>Sender</td>
        <td>Recipient</td>
        <td>Direction</td>
        <td>Status</td>
    </thead>
    <tbody>
        <tr ng-repeat="ri in routingInfo">
            <td>{{ ri.latestUpdate | date:'mediumTime' }}</td>
            <td>{{ ri.chainId }}</td>
            <td>
                <a ng-if="ri.requestSender" href="{{ri.requestSender}}">{{ri.requestSender}}</a>
                <span ng-if="!ri.requestSender">[Originator]</span>
            </td>
            <td>
                <a ng-if="ri.requestRecipient" href="{{ri.requestRecipient}}">{{ri.requestRecipient}}</a>
                <span ng-if="!ri.requestRecipient">[Destination]</span>
            </td>
            <td>{{ ri.direction }}</td>
            <td>{{ ri.status }}</td>
        </tr>
    </tbody>
</table>
<button ng-click="reloadRoutingInfo()" ng-disabled="isRequesting">
    Reload
</button>
</div>
</body>
</html>